body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inserted-div {
    background-color: lightblue;
    border: 1px solid brown;
    padding: 2px;
    margin: 2px;
}
#container {
    border: 3px solid green;
}
span {
    background-color: lightblue;
}